/* globals */

.colourDarkGrey {
  color: #444;
}

.colourGreen {
  color: #006400;
}

.pointer {
  cursor: pointer;
}

:global body {
  font-family: 'Lato', 'FontAwesome', sans-serif;
  font-size: 16px;
}

:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6 {
  /* Bootstrap sets weight to 500, we don't have that */
  font-weight: 700;
}

:global h2:first-child {
  margin-top: 0;
}

:global td, :global th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

/* Breadcrumbs */

.breadcrumb {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: opacity 0.1s ease-out;
}

.breadcrumb:hover {
  opacity: 1;
}

.breadcrumb > li a {
  color: #006400;
}

.breadcrumb > li + li:before {
  content: '\f105';
  color: #555;
}

.breadcrumb > .active {
  color: #555
}

/* Layout */

.link {
  text-decoration: none;
  color: #fff;
}

.navBar {
  background: #006400;
  display: flex;
  align-items: center;
  /* height: 40px; */
  border: none;
  border-radius: 0;
}

.content {
  margin-bottom: 50px;

  img {
    max-width: 100%;
    display: block;
  }
}

/* NoResults/404 */

.flexWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

.verticalAlign {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.button {
  color: #006400;
  background: #fff;
  border-color: #006400;
}

.button:hover {
  color: #fff;
  background: #006400;
  border-color: #fff;
}

/* NoSupport */

.browserIcon {
  color: rgb(0, 100, 0);
  opacity: 0.5;
  transition: opacity 150ms ease-in-out;
}

.browserIcon:hover {
  opacity: 1;
}

.row-fluid {
  min-width: 100%;
}

.flexSpaceAround {
  justify-content: space-around;
  display: flex;
}

/* ResultsSkeleton */

@keyframes fadeInOut {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.skeleton {
  animation: 2s linear 0s;
  animation-name: fadeInOut;
  animation-iteration-count: infinite;
  border-radius: 4px;
}

.iconSkeleton {
  background: #eee;
  height: 42px;
  width: 36px;
}

.textSkeleton {
  color: #eee;
  background: #eee;
}

/* SearchBar */

.formContainer {
  margin: 0;
}

.input {
  min-width: 100%;
  width: 100%;
}

/* SearchPage */

.resultIcon {
  color: rgba(0, 100, 0, 0.5);
  margin-right: 6px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}

/* SideNav */

.body {
  overflow: hidden;
}

.caretStyle {
  border-top: 8px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: darkgray;
  margin-right: 5px;
  transform: rotate(-90deg);
  transition: transform 150ms ease;
}

.caretStyle.expanded {
  transform: rotate(0deg);
}

.navItemTitle {
  color: #006400;
  cursor: pointer;
}

.navPanelUl {
  list-style: none;
  margin-bottom: 0px;
}

.panelStyle {
  border: none !important;
  border-radius: 0px;
  box-shadow: none;
  color: #006400;
  padding: 0;
}

.sideNav {
  overflow-y: scroll;
  max-height: 90vh;
}

.stubbed {
  color: #777;
}

.stubbed::after {
  content: 'stub';
  background-color: #aaa;
  color: #fff;
  border-radius: 3px;
  padding: 0 4px;
  margin-left: 5px;
  line-height: 1;
}

.title {
  background-color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
